@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
}
/* nextjs-portal {
  display: none;
} */
.slick-slide {
  min-height: 300px !important;
}

.slick-dots {
  bottom: 0px !important;
}

.slick-dots li {
  width: 50px !important;
  height: 100% !important;
}

.slick-next {
  right: 10 !important;
}

.slick-prev {
  left: 10 !important;
}
.MuiGrid-item {
  padding: 0 !important;
}
